@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-black: #000;
  --color-white: #fff;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;

  --color-orange: #e29f28;

  --color-red: #d54418;

  --color-orange_2-200: #f6e3cf;
  --color-orange_2-500: #e18521;
  --color-orange_2: #f89223;

  --color-green-200: #9ccf77;
  --color-green: #6fb43f;

  --color-goldgray: #f4f3f0;

  --breakpoint-*: initial;
  --breakpoint-sm: 767px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1200px;

  --font-space:
    Space Grotesk, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-inter:
    inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-barlow:
    barlow, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --animate-marquee-left: marquee-left var(--duration, 40s) linear infinite;
  --animate-marquee-up: marquee-up var(--duration, 40s) linear infinite;

  @keyframes marquee-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-up {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

.RootComponent header {
  @apply mt-16 flex h-24 items-center bg-[url(/assets/images/landing-page.png)] bg-cover bg-center;
}

.RootComponent header nav {
  @apply container mx-auto;
}

.RootComponent header nav a {
  @apply font-space text-red inline-block items-center bg-white p-2 pb-3 text-4xl font-bold hover:underline;
}

.RootComponent main {
  @apply container mx-auto mt-8;
}

.RecipeForm {
  @apply font-inter space-y-12 rounded-2xl bg-white p-8 hover:border-solid;
}

.FormRow {
  @apply flex items-end;
}

.FormRow label {
  @apply w-1/6 pr-8 text-right font-medium text-gray-500;
}

.FormRow input,
.FormRow select {
  @apply w-5/6;
}

.FormRow input {
  @apply border-b border-b-gray-200;
}

.FormRow.TimeSelector > div {
  @apply flex w-5/6 space-x-12 text-gray-500;
}

.FormRow.TimeSelector > div label {
  @apply font-medium;
}

.FormRow.TimeSelector > div div.Input {
  @apply flex space-x-4 border-b border-b-gray-200;
}

.FormRow.TimeSelector > div div.Input input {
  @apply border-b-0;
}

.FormControl {
  @apply flex flex-col space-y-1 pb-4;
}

/*.FormControl input {*/
/*  @apply h-8 w-full max-w-full rounded border border-gray-400 bg-white p-2 text-gray-500 disabled:bg-gray-200;*/
/*}*/

.CategorySelector {
  @apply w-5/6 space-y-2;
}

.CategorySelector > .CategoryItem {
  @apply border-green text-green hover:bg-green/20 me-2 inline-block rounded border bg-white p-2 text-[15px] hover:cursor-pointer;
}

.CategorySelector > .CategoryItem.selected {
  @apply bg-green hover:bg-green/80 text-white hover:text-white;
}

.CategorySelector .OrderBar {
  @apply flex gap-x-4 text-sm text-gray-500;
}

.CategorySelector .OrderBar button {
  @apply cursor-pointer underline hover:text-gray-800;
}

.CategorySelector .OrderBar button.selected {
  @apply font-bold;
}

.CategorySelector > div span {
  @apply ms-2;
}

.CategorySelector input[type="checkbox"] {
  @apply w-4;
}

.CategorySelector header {
  @apply flex items-center gap-x-2 font-medium;
}

.CategorySelector section {
  @apply flex items-center gap-x-2;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
/*@layer base {*/
/*  *,*/
/*  ::after,*/
/*  ::before,*/
/*  ::backdrop,*/
/*  ::file-selector-button {*/
/*    border-color: var(--color-gray-200, currentcolor);*/
/*  }*/
/*}*/
