@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-black: #000;
  --color-white: #fff;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;

  --color-orange: #e29f28;

  --color-red: #d54418;

  --color-orange_2-200: #f6e3cf;
  --color-orange_2-500: #e18521;
  --color-orange_2: #f89223;

  --color-green-500: #6fb43f;
  --color-green-200: #9ccf77;
  --color-green: #6fb43f;

  --color-goldgray: #f4f3f0;

  --breakpoint-*: initial;
  --breakpoint-sm: 767px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1200px;

  --font-space:
    Space Grotesk, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-inter:
    inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-barlow:
    barlow, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --animate-marquee-left: marquee-left var(--duration, 40s) linear infinite;
  --animate-marquee-up: marquee-up var(--duration, 40s) linear infinite;

  @keyframes marquee-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-up {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

.RootComponent > header {
  @apply mt-16 flex h-24 items-center bg-[url(/assets/images/landing-page.png)] bg-cover bg-center;
}

.RootComponent > header nav {
  @apply container mx-auto;
}

.RootComponent > header nav a {
  @apply font-space text-red inline-block items-center bg-white p-2 pb-3 text-4xl font-bold hover:underline;
}

.RootComponent main {
  @apply container mx-auto mt-8;
}

.RecipeForm {
  @apply font-inter space-y-12 bg-white;
}

.RecipeForm label {
  @apply ps-2 text-sm font-semibold tracking-wide text-gray-700;
}

.FormRow {
  @apply flex flex-col space-y-2;
}

.RecipeForm section {
  @apply flex flex-col space-y-4;
}

.RecipeForm .ButtonBar {
  @apply flex gap-x-8 border-t border-dotted border-t-gray-300 pt-8;
}

.RecipeForm .ButtonBar button {
  @apply border-green bg-green me-2 flex w-fit cursor-pointer rounded border px-4 py-2 text-2xl text-white hover:border-[#4B792A] hover:bg-[#4B792A];
}

.RecipeForm .ButtonBar button:disabled {
  @apply cursor-default border-[#BDDFA4] bg-[#BDDFA4] hover:border-[#BDDFA4];
}

.RecipeForm section h2 {
  @apply font-space mb-8 text-5xl font-bold;
}

.FormRow input,
.FormRow select,
.RecipeForm input {
  @apply w-full rounded-lg border border-gray-400 px-2 py-3;
}

.FormRow.TimeSelector > div {
  @apply flex w-5/6 space-x-12 text-gray-500;
}

.FormRow.TimeSelector > div label {
  @apply font-medium;
}

.FormRow.TimeSelector > div div.Input {
  @apply flex space-x-4;
}

.FormControl {
  @apply flex flex-col space-y-1 pb-4;
}

.RecipeForm {
  @apply mb-8;
}

.RecipeForm .Ingredients header {
  @apply grid w-full grid-cols-4;
}

.RecipeForm .Ingredients ul {
  @apply w-full;
}

.RecipeForm .Ingredients li {
  @apply mb-8 grid w-full grid-cols-4 gap-x-8;
}

.RecipeForm .Instructions li {
  @apply mb-8 flex items-center space-x-8;
}

.RecipeForm .Instructions li.dragging {
  @apply scale-105 rounded-xl bg-gray-100 p-8 shadow-xl;
}

.RecipeForm .Instructions .Step {
  @apply font-space text-red w-[6rem] self-center font-medium whitespace-nowrap;
}

.RecipeForm .Instructions button.primary {
  @apply ms-[6.7rem] -mt-6;
}

.RecipeForm .Buttons {
  @apply flex items-center gap-x-4;
}

.ImageCropperField {
  @apply flex flex-col gap-y-4;
}

.ImageCropperField .CropContainer {
  @apply relative h-77 w-full rounded-lg bg-gray-200;
}
.ImageCropperField .reactEasyCrop_CropArea {
  @apply rounded-lg border-0 shadow-none;
}

.ImageCropperField .Preview {
  @apply flex flex-col gap-y-4;
}

.ImageCropperField .Preview img {
  @apply rounded-lg;
}

.RecipeForm button[type="button"].primary,
.RecipeForm button[type="button"].primary {
  @apply bg-orange_2-500/90 hover:bg-orange_2-500 flex w-fit cursor-pointer items-center gap-x-2 rounded px-2 py-1 text-white;
}

.RecipeForm button[type="button"].secondary,
.RecipeForm button[type="button"].secondary {
  @apply flex h-fit cursor-pointer items-center gap-x-2 rounded bg-gray-200 px-2 py-1 hover:bg-gray-400;
}

.RecipeForm .Feedback .success {
  @apply border-green bg-green/80 rounded-lg border-2 p-2 text-white;
}

.RecipeForm .Feedback .error {
  @apply border-red bg-red/80 rounded-lg border-2 p-2 text-white;
}

.CategorySelector {
  @apply space-y-2 rounded-lg border border-gray-400 px-2 py-3;
}

.CategorySelector > .CategoryItem {
  @apply border-green text-green hover:bg-green/20 me-2 inline-block rounded border bg-white p-2 text-[15px] hover:cursor-pointer;
}

.CategorySelector > .CategoryItem.selected {
  @apply bg-green hover:bg-green/80 text-white hover:text-white;
}

.CategorySelector .OrderBar {
  @apply mb-4 flex gap-x-4 text-sm text-gray-500;
}

.CategorySelector .OrderBar button {
  @apply cursor-pointer underline hover:text-gray-800;
}

.CategorySelector .OrderBar button.selected {
  @apply font-bold;
}

.CategorySelector > div span {
  @apply ms-2;
}

.CategorySelector input[type="checkbox"] {
  @apply w-4;
}

.CategorySelector header {
  @apply flex items-center gap-x-2 font-medium;
}

.CategorySelector section {
  @apply flex items-center gap-x-2;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
/*@layer base {*/
/*  *,*/
/*  ::after,*/
/*  ::before,*/
/*  ::backdrop,*/
/*  ::file-selector-button {*/
/*    border-color: var(--color-gray-200, currentcolor);*/
/*  }*/
/*}*/
