@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-black: #000;
  --color-white: #fff;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;

  --color-orange: #e29f28;

  --color-red: #d54418;

  --color-orange_2-200: #f6e3cf;
  --color-orange_2-500: #e18521;
  --color-orange_2: #f89223;

  --color-green-500: #6fb43f;
  --color-green-200: #9ccf77;
  --color-green: #6fb43f;

  --color-goldgray: #f4f3f0;

  --breakpoint-*: initial;
  --breakpoint-sm: 767px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1200px;

  --font-space:
    Space Grotesk, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-inter:
    inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-barlow:
    barlow, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --animate-marquee-left: marquee-left var(--duration, 40s) linear infinite;
  --animate-marquee-up: marquee-up var(--duration, 40s) linear infinite;

  @keyframes marquee-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-up {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

.RootComponent {
  @apply min-h-svh;
}

.App {
  @apply container mx-auto mt-8;
}

.LandingPage {
  @apply flex min-h-svh min-w-screen flex-grow flex-col items-center justify-start gap-y-8 bg-cover pt-32;
  background-image:
    radial-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)),
    url("/assets/images/landing-page.png");
}

.LandingPage h1 {
  @apply font-space text-red mx-auto inline-block max-w-4xl bg-white p-4 text-center text-8xl font-bold;
}

.LandingPage h2 {
  @apply mt-10 inline-block max-w-4xl bg-white p-2 pb-3 text-4xl font-bold text-gray-800;
}

.LandingPage a {
  @apply border-red bg-red hover:border-red hover:bg-orange_2 hover:shadow-red font-barlow mt-48 mb-2 inline-flex transform items-center justify-center rounded border-2 p-4 text-2xl font-normal text-white transition-all duration-500 ease-in-out hover:cursor-pointer hover:underline hover:shadow-2xl;
}

.AdminLayout > header {
  @apply mt-16 flex h-24 items-center bg-[url(/assets/images/landing-page.png)] bg-cover bg-center;
}

.AdminLayout > header nav {
  @apply container mx-auto flex items-center justify-between;
}

.AdminLayout > header nav a {
  @apply font-space text-red inline-block items-center bg-white p-2 pb-3 text-4xl font-bold hover:underline;
}

.AdminLayout main {
  @apply container mx-auto mt-8;
}

.Dashboard a {
  @apply text-orange_2-500 cursor-pointer font-medium hover:text-[#B46918] hover:underline;
}

form {
  @apply font-inter space-y-12 bg-white;
}

form label {
  @apply ps-2 text-sm font-semibold tracking-wide text-gray-700;
}

.FormRow label {
  @apply text-sm font-semibold tracking-wide text-gray-700;
}

form section {
  @apply flex flex-col space-y-4;
}

form footer {
  @apply flex items-center gap-x-12 border-t border-dotted border-t-gray-300 pt-8;
}

form .ButtonBar {
  @apply flex items-center gap-x-4;
}

.Dashboard a.Action,
form .ButtonBar button.primary {
  @apply border-green bg-green me-2 flex w-fit cursor-pointer rounded border px-4 py-2 text-2xl text-white hover:border-[#4B792A] hover:bg-[#4B792A];
}

form .ButtonBar button.primary:disabled {
  @apply cursor-default border-[#BDDFA4] bg-[#BDDFA4] hover:border-[#BDDFA4];
}

.AdminLayout nav button,
form .ButtonBar button.secondary {
  @apply me-2 flex w-fit cursor-pointer items-center rounded border border-gray-200 bg-gray-200 px-2 py-1 text-lg hover:bg-gray-400;
}

form .ButtonBar button.secondary:disabled {
  @apply cursor-default border-gray-200 bg-gray-200 hover:bg-gray-200;
}

.ImageSelector h2,
form section h2 {
  @apply font-space mb-8 text-5xl font-bold;
}

select,
input {
  @apply w-full rounded-lg border border-gray-400 px-2 py-3;
}

.FormRow {
  @apply flex flex-row items-center space-x-2;
}
.FormControl {
  @apply flex flex-col space-y-1 pb-4;
}

.RecipeForm {
  @apply mb-8;
}

.RecipeForm .Ingredients header {
  @apply grid w-full grid-cols-4;
}

.RecipeForm .Ingredients ul {
  @apply w-full;
}

.RecipeForm .Ingredients li {
  @apply mb-2 grid w-full grid-cols-4 gap-x-8;
}

.RecipeForm .Instructions li {
  @apply py-4;
}

.RecipeForm .Instructions li.dragging {
  @apply rounded-xl bg-gray-100 p-4;
}

.RecipeForm .Instructions li > div {
  @apply grid grid-cols-[1rem_3rem_1fr_max-content] items-center gap-x-8;
}

.RecipeForm .Instructions .DragHandle {
  @apply cursor-move text-xl;
}

.RecipeForm .Instructions .Step {
  @apply font-space text-red self-center font-medium whitespace-nowrap;
}

.RecipeForm .Buttons {
  @apply flex items-center gap-x-4;
}

.UploadImageForm .Images {
  @apply flex flex-row gap-x-8;
}
.UploadImageForm .Images > * {
  @apply w-1/2;
}

.ImageCropperField {
  @apply w-1/2;
}

.ImageCropperField .CropContainer {
  @apply relative h-77 rounded-lg bg-gray-200;
}
.ImageCropperField .reactEasyCrop_CropArea {
  @apply rounded-lg border-0 shadow-none;
}

.ImageCropperField .Preview {
  @apply flex flex-col gap-y-4;
}

.ImageCropperField .Preview img {
  @apply rounded-lg;
}

.FormControl img {
  @apply h-77 rounded-lg object-cover;
}

.ImagePreview {
  @apply grid grid-cols-[20px_1fr_1fr] items-center gap-x-4;
}

.ImagePreview img {
  @apply h-16 w-32 rounded-lg object-cover text-right transition-transform duration-200;
}

.ImagePreview img:hover {
  @apply relative z-10 scale-200 shadow-lg;
}

.ImageSelector {
  @apply mt-2 mb-8 flex flex-col gap-y-8;
}

.ImageSelector .ImagePreview {
  @apply w-full cursor-pointer rounded-lg border border-gray-400 px-2 py-3 text-center hover:bg-gray-200;
}

.ImageSelector .ImagePreview.selected {
  @apply border-green-500 bg-green-200/50;
}

.ImageSelector .ImagePreview.selected i {
  @apply font-bold text-green-500;
}

.Dashboard nav a,
form button[type="button"].primary {
  @apply bg-orange_2-500/90 flex w-fit cursor-pointer items-center gap-x-2 rounded px-2 py-1 text-white hover:bg-[#B46918];
}

.Dashboard nav a:not([href]),
form button[type="button"].primary:disabled {
  @apply flex w-fit cursor-default items-center gap-x-2 rounded bg-gray-400 px-2 py-1 text-white hover:bg-gray-400;
}

.Dashboard .Actions {
  @apply flex flex-col gap-y-2;
}

.Dashboard .Actions button {
  @apply bg-orange_2-500/90 flex w-fit cursor-pointer items-center gap-x-2 rounded px-2 py-1 text-nowrap text-white hover:bg-[#B46918];
}

form button[type="button"].secondary {
  @apply flex h-fit cursor-pointer items-center gap-x-2 rounded bg-gray-200 px-2 py-1 hover:bg-gray-400;
}

form button[type="button"].secondary:disabled {
  @apply cursor-default text-gray-400 hover:bg-gray-200;
}

form .Feedback .success {
  @apply border-green bg-green/80 rounded-lg border-2 p-2 text-white;
}

form .error {
  @apply text-red ps-2 font-medium;
}

.RecipeForm .Feedback .error {
  @apply border-red bg-red/80 rounded-lg border-2 p-2 text-white;
}

.Dialog .DialogBackdrop {
  @apply fixed inset-0 bg-black/30;
}

.Dialog .DialogInner {
  @apply flex h-full items-center justify-center;
}

.Dialog .DialogPanel {
  @apply w-1/3 space-y-4 rounded-lg bg-white p-12 shadow-2xl;
}

.Dialog .DialogTitle {
  @apply font-space flex items-center justify-between border-b-1 border-dotted pb-4 text-3xl font-bold;
}

.Dialog .DialogTitle .Tabs {
  @apply flex gap-x-4;
}
.Dialog .DialogTitle .Tabs button {
  @apply font-inter cursor-pointer text-xl font-normal underline hover:text-gray-800;
}

.Dialog .DialogTitle .Tabs button.selected {
  @apply font-bold;
}

.Dialog .DialogContent {
  @apply h-[36rem] overflow-y-scroll pe-2;
}

.CategorySelector {
  @apply space-y-2 rounded-lg border border-gray-400 px-2 py-3;
}

.CategorySelector > .CategoryItem {
  @apply border-green text-green hover:bg-green/20 me-2 inline-block rounded border bg-white p-2 text-[15px] hover:cursor-pointer;
}

.CategorySelector > .CategoryItem.selected {
  @apply bg-green hover:bg-green/80 text-white hover:text-white;
}

.CategorySelector .OrderBar {
  @apply mb-4 flex gap-x-4 text-sm text-gray-500;
}

.CategorySelector .OrderBar button {
  @apply cursor-pointer underline hover:text-gray-800;
}

.CategorySelector .OrderBar button.selected {
  @apply font-bold;
}

.CategorySelector > div span {
  @apply ms-2;
}

.CategorySelector input[type="checkbox"] {
  @apply w-4;
}

.CategorySelector header {
  @apply flex items-center gap-x-2 font-medium;
}

.CategorySelector section {
  @apply flex items-center gap-x-2;
}

.Dashboard {
  @apply space-y-12;
}

.Dashboard h2 {
  @apply font-space mb-4 text-3xl font-bold;
}

.Dashboard table,
.Dashboard table tbody {
  @apply divide-y divide-dotted divide-gray-500;
}

.Dashboard table th,
.Dashboard table td {
  @apply px-4 py-4 text-left align-top;
}

.Dashboard table .right {
  @apply text-right;
}

.Dashboard nav {
  @apply mt-8 flex items-center justify-center gap-x-8;
}

.LoginRoute {
  @apply container mx-auto flex min-h-svh flex-row items-center justify-center;
}

.LoginForm {
  @apply rounded-2xl border border-gray-300 p-8;
}
/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
/*@layer base {*/
/*  *,*/
/*  ::after,*/
/*  ::before,*/
/*  ::backdrop,*/
/*  ::file-selector-button {*/
/*    border-color: var(--color-gray-200, currentcolor);*/
/*  }*/
/*}*/
